.homeContainer {
    max-width: 1200px;
    background: #F9F9FE;
    border-radius: 8px;
    width: 80%;
    margin: 24px auto;
    display: flex;
    height: 83vh;
}

@media (max-width: 730px) {
    .homeContainer {
        max-width: none;
        border-radius: 0;
        display: block;
        height: 80vh;
        margin: 24px auto;
        width: 90%;
    }
}

@media (max-width: 500px) {
    .homeContainer {
        width: 100%;
        margin: 0;
    }
}

