.homeContainer {
    max-width: 1200px;
    background: #F9F9FE;
    border-radius: 8px;
    width: 80%;
    margin: 24px auto;
    display: flex;
    /*overflow: hidden;*/
    height: 80vh;
    /*text-align: left;*/
}

/*@media (max-width: 1150px) {*/
/*    .homeContainer {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/